<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demos.testapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".activity.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.MainActivity" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SnackBarActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.QRCodeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ScrollerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MatrixActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CacheActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.BrocastActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.FragActivity"
            android:theme="@style/AppTheme" />
        <receiver
            android:name=".brocast.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MYBROCAST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.AnimationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.UilActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.WebActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PullToRreshActivity"
            android:label="@string/title_activity_pull_to_rresh"
            android:theme="@style/AppTheme" />
    </application>

</manifest>